.border{
    border: 1px solid black;
}
.rounded{
    border-radius: 7px;
}
.p1{
    padding: 16px;
}
.m1{
    margin: 5px;
}
.center{
    align-items: center;
}
.invert{
    filter: invert(1);
}

/* 
console.log("Hii javascript")
*/